Please also refer to the schedule posted on <a href="https://indico.cern.ch/event/854880/timetable/#all">Indico</a>.

<h3>Pre-workshop Activities</h3>
<table class="table table-striped">
  <tr> <td>Pre-workshop Material</td> <td><a href="CERNBOX LINK">Payload Tarball on CernBox</a> </td> </tr>
  <tr> <td>Pre-workshop Survey</td> <td><a href="CERNBOX LINK">Link to Pre-Survey</a> </td> </tr>
</table>

<h3>Monday : <a href="">Conference Room 2-100B</a></h3>
<table class="table table-striped">
  <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}">Pre-workshop survey</a> </td> </tr>
  <tr> <td>09:00</td>  <td><a href="http://swcarpentry.github.io/git-novice/">Version control with Git</a></td> </tr>
  <tr> <td>10:30</td>  <td><a href="">GitLab CERN</a></td> </tr>
  <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
  <tr> <td>13:00</td>  <td><a href="https://awesome-workshop.github.io/continuous-integration-deployment-gitlab/">Continuous Integration</a></td> </tr>
  <tr> <td>14:00</td>  <td>Catch-up Time</td> </tr>
  <tr> <td>15:00</td>  <td>ATLAS/<a href="https://awesome-workshop.github.io/gitlab-cms/">CMS</a> GitLab sessions</td> </tr>
  <tr> <td>17:30</td>  <td>Re-Ana Discussion with Theorists and Reception</td> </tr>
  <tr> <td>18:30</td>  <td>END</td> </tr>
</table>

<h3>Tuesday : <a href="">Conference Room 33-106</a></h3>
<table class="table table-striped">
  <tr> <td>09:00</td>  <td><a href="https://awesome-workshop.github.io/intro-to-docker/">Intro to Docker</a></td> </tr>
  <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
  <tr> <td>13:00</td>  <td>Catch-up Time</td> </tr>
  <tr> <td>14:00</td>  <td>ATLAS/<a href="https://awesome-workshop.github.io/docker-cms/">CMS</a> Docker sessions</td> </tr>
  <tr> <td>19:00</td>  <td>Dinner</td> </tr>
  <tr> <td>21:00</td>  <td>END</td> </tr>
</table>

<h3>Wednesday : <a href="">Conference Room 2-100B</a></h3>
<table class="table table-striped">
  <tr> <td>09:00</td>  <td>CERN REANA</td> </tr>
  <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
  <tr> <td>13:00</td>  <td>Catch-up Time</td> </tr>
  <tr> <td>14:00</td>  <td>ATLAS/CMS sessions</td> </tr>
  <tr> <td>17:00</td>  <td>Wrap-up</td> </tr>
</table>

<h3>Post-workshop Activities</h3>
<table class="table table-striped">
  <tr> <td>Post-workshop Survey</td> <td><a href="Google Doc">Link to Post-Survey</a> </td> </tr>
</table>
