<div class="row">
  <div class="row">
    <div class="col-md-10">
      <h3 id="syllabus-git">Git(Lab) Essentials</h3>
      <ul>
        <li>Creating a Repository</li>
        <li>Recording Changes to Files: <code>add</code>, <code>commit</code>, ...</li>
        <li>Viewing Changes: <code>status</code>, <code>diff</code>, ...</li>
        <li>Ignoring Files</li>
        <li>Working on the Web: <code>clone</code>, <code>pull</code>, <code>push</code>, ...</li>
        <li>Resolving Conflicts</li>
        <li>GitLab specifics</li>
        <li>Where to Host Work, and Why</li>
        <li><a href="{{site.swc_pages}}/git-novice/reference">Reference...</a></li>
      </ul>
    </div>

  <div class="col-md-10">
    <h3 id="syllabus-python">Continuous Integration</h3>
    <ul>
      <li>What does continuous integration mean?</li>
      <li>Writing tests</li>
      <li>Integrating with GitLab</li>
      <li>Writing YAML files</li>
      <li><a href="{{site.swc_pages}}/python-novice-inflammation/reference">Reference...</a></li>
    </ul>
  </div>

  <div class="col-md-10">
    <h3 id="syllabus-r">Docker</h3>
    <ul>
      <li>Writing a Dockerfile</li>
      <li>Building your own containers</li>
      <li>Using your containers</li>
      <li>Using container with GitLab</li>
      <li><a href="{{site.swc_pages}}/r-novice-inflammation/reference">Reference...</a></li>
    </ul>
  </div>

  <div class="col-md-10">
    <h3 id="syllabus-sql">REANA</h3>
    <ul>
      <li>What is REANA</li>
      <li><a href="{{site.swc_pages}}/sql-novice-survey/reference">Reference...</a></li><li><a href="{{site.swc_pages}}/sql-novice-survey/reference">Reference...</a></li>
    </ul>
  </div>
</div>
