<p id="who">
  <strong>Who:</strong>
  If you have ever spent hours banging your head against code that someone gave you as a starting point, either because it doesn’t compile or segfaults immediately upon running or simply spits out empty histograms - this bootcamp is for you. If you know someone who thinks that Docker is so great and won’t stop advocating for it - this workshop is for you. If you are going to be doing science at the LHC in Run 3 - this workshop is for you. And if you are thinking of moving to a career outside of academia - this workshop is for you.

  <strong>This bootcamp will be particularly useful for those who are in the midst of an analysis at the moment, as it will give you knowhow about tools that you can put to practice immediately. However, this is not a pre-requisite for attending, but rather it will be of greatest utility for such individuals.</strong>
</p>
